* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Silkscreen", cursive;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.banner {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
}

.banner-video {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.banner-video video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
}

.header {
  color: rgb(54, 38, 8);
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 1rem;
  padding: 2rem 1rem;
}

.img {
  width: 8rem;
}

.content {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown {
  display: none;
  padding: 1rem;
}

.content:hover .dropdown {
  display: block;
}

.dropdown-info {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0rem 0.5rem;
}
.dropdown-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem 1rem;
}

.dropdown-nav a {
  background-color: antiquewhite;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem 0rem;
}

/* ANIMATIONS */

@keyframes blinking {
  0% {
    color: rgb(255, 170, 12);
  }
  47% {
    color: rgb(113, 53, 3);
  }
  62% {
    color: red;
  }
  97% {
    color: rgb(108, 0, 0);
  }
  100% {
    color: rgb(241, 255, 139);
  }
}
