* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Silkscreen", cursive;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.banner {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
}

.banner-video {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.banner-video video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
}

.header {
  color: rgb(54, 38, 8);
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 0.5rem;
  padding: 2rem 1rem;
}

.header h1 {
  font-size: 2.5rem;
  animation: blinking 2s infinite;
}

.header span {
  animation: blinking 1s infinite;
}

.header h4 {
  font-size: 0.8rem;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: brown;
}

.img {
  width: 8rem;
}

.content {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown {
  display: none;
  padding: 1rem;
}

.content:hover .dropdown {
  display: block;
}

.dropdown-info {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 10px;
  margin: 0rem 0.5rem;
}
.dropdown-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem 1rem;
}

.dropdown-nav a {
  color: green;
  text-decoration: none;
  background-color: rgba(245, 236, 207, 0.85);
  border-radius: 10px;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem 0rem;
}

.dropdown-nav a:hover {
  color: white;
  background-color: rgb(171, 15, 15);
  padding: 0.6rem;
  transition: 0.5s;
}

/* ANIMATIONS */

@keyframes blinking {
  0% {
    color: rgb(255, 170, 12);
  }
  47% {
    color: rgb(113, 53, 3);
  }
  62% {
    color: red;
  }
  97% {
    color: rgb(108, 0, 0);
  }
  100% {
    color: rgb(241, 255, 139);
  }
}

/*MEDIA QUERIES*/

@media only screen and (min-width: 550px) {
  .header h1 {
    font-size: 3.5rem;
    margin: 1rem;
  }
  .content {
    margin: 3rem;
  }
  .img {
    width: 10rem;
  }
  .dropdown-nav {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .dropdown-nav a {
    color: green;
    text-decoration: none;
    background-color: rgba(245, 236, 207, 0.85);
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem 1rem;
  }
}
