* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Silkscreen", cursive;
  background-image: url("/img/background1.jpeg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: rgb(255, 255, 255);
}

header {
  width: 100%;
  background-color: rgba(157, 164, 143, 0.403);
  text-align: center;
  padding: 1rem;
}

article p {
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
}

.top-nav {
  background-color: rgba(240, 248, 255, 0.308);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.top-nav a {
  color: blanchedalmond;
  text-decoration: none;
}

.top-nav a:hover {
  color: red;
  background-color: beige;
}

.thecast-content {
  background-color: rgba(240, 248, 255, 0.029);
}
.thecast-nav {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.thecast-nav div {
  margin: 0.5rem;
  width: 20%;
}

.thecast-nav img {
  background-color: rgba(80, 15, 15, 0.6);
  padding: 0.5rem;
  width: 4rem;
  opacity: 0.7;
}

.thecast-nav img:hover {
  opacity: 1;
  background-color: rgb(10, 4, 4);
  width: 5rem;
}

.thecast-nav h2 {
  width: 5rem;
  padding: 1rem;
  font-size: 0.7rem;
}

.cast-info {
  position: absolute;
  display: none;
  font-size: 0.6rem;
  top: 80vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 2rem;
  text-align: center;
  color: brown;
  background-color: lightblue;
  margin-top: 20px;
}

.visible {
  display: block;
}

@media only screen and (min-width: 800px) {
  .cast-info {
    font-size: 1rem;
    top: 70vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 3rem;
  }

  .thecast-nav img {
    background-color: rgba(80, 15, 15, 0.6);
    padding: 0.5rem;
    width: 7rem;
    opacity: 0.7;
  }

  .thecast-nav img:hover {
    opacity: 1;
    background-color: rgb(10, 4, 4);
    width: 9rem;
  }

  header h1 {
    font-size: 3rem;
  }
}
