* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Silkscreen", cursive;
  background-image: url("/img/background1.jpeg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: rgb(255, 255, 255);
}

header {
  width: 100%;
  background-color: rgba(157, 164, 143, 0.403);
  text-align: center;
  padding: 1rem;
}

article p {
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
}

.top-nav {
  background-color: rgba(240, 248, 255, 0.308);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.top-nav a {
  color: blanchedalmond;
  text-decoration: none;
}

.top-nav a:hover {
  color: red;
  background-color: beige;
}

.thecast-nav {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.thecast-nav div {
  margin: 0.5rem;
  width: 20%;
}

.thecast-nav img {
  background-color: rgba(80, 15, 15, 0.6);
  padding: 0.5rem;
  width: 4rem;
  opacity: 0.7;
}

.thecast-nav img:hover {
  opacity: 1;
  background-color: rgb(10, 4, 4);
}

.thecast-nav h2 {
  width: 5rem;
  padding: 1rem;
  font-size: 0.7rem;
}

#mySimba {
  position: absolute;
  font-size: 0.7rem;
  top: 65vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 2rem;
  text-align: center;
  color: brown;
  background-color: lightblue;
  margin-top: 20px;
}

#myNala {
  position: absolute;
  font-size: 0.7rem;
  top: 75vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 2rem;
  text-align: center;
  color: brown;
  background-color: lightblue;
  margin-top: 20px;
}

#myMufasa {
  position: absolute;
  font-size: 0.7rem;
  top: 75vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 2rem;
  text-align: center;
  color: brown;
  background-color: lightblue;
  margin-top: 20px;
}

#mySarabi {
  position: absolute;
  font-size: 0.7rem;
  top: 75vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 2rem;
  text-align: center;
  color: brown;
  background-color: lightblue;
  margin-top: 20px;
}

#myScar {
  position: absolute;
  font-size: 0.7rem;
  top: 75vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 2rem;
  text-align: center;
  color: brown;
  background-color: lightblue;
  margin-top: 20px;
}

#myZazu {
  position: absolute;
  font-size: 0.7rem;
  top: 75vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 2rem;
  text-align: center;
  color: brown;
  background-color: lightblue;
  margin-top: 20px;
}

#myTimon {
  position: absolute;
  font-size: 0.7rem;
  top: 75vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 2rem;
  text-align: center;
  color: brown;
  background-color: lightblue;
  margin-top: 20px;
}

#myPumba {
  position: absolute;
  font-size: 0.7rem;
  top: 75vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 2rem;
  text-align: center;
  color: brown;
  background-color: lightblue;
  margin-top: 20px;
}
/*
.cast-flex {
  color: brown;
  width: 100%;
  text-align: center;
  background-color: rgba(167, 176, 150, 0.522);
  flex-direction: column;
  display: flex;
  align-items: center;
}

.cast-flex p {
  font-size: 0.8rem;
  color: brown;
  background-color: bisque;
  padding: 0.9rem;
  border-radius: 10px;
}

/*SIMBA
.cast-flex-simba {
  border-radius: 10px;
  background-color: rgba(250, 128, 114, 0);
  padding: 0.5rem;
  margin: 0.5rem;
}
.cast-flex-simba img {
  border-radius: 50%;
  width: 100px;
}
.cast-simba-hidden {
  background-color: rgba(250, 235, 215, 0);
  display: none;
  padding: 1rem;
  text-align: center;
}
.cast-flex-simba:hover .cast-simba-hidden {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

/*NALA
.cast-flex-nala {
  border-radius: 10px;
  background-color: rgba(250, 128, 114, 0);
  padding: 0.5rem;
  margin: 0.5rem;
}
.cast-flex-nala img {
  border-radius: 50%;
  width: 100px;
}
.cast-nala-hidden {
  background-color: rgba(250, 235, 215, 0);
  display: none;
  padding: 1rem;
  text-align: center;
}
.cast-flex-nala:hover .cast-nala-hidden {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
*/
