* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Silkscreen", cursive;
  background-image: url("/img/background1.jpeg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: rgb(255, 255, 255);
}

header {
  width: 100%;
  background-color: rgba(157, 164, 143, 0.403);
  text-align: center;
  padding: 1rem;
}

section p {
  padding: 0.2rem;
  text-align: center;
  font-size: 0.7rem;
}

.top-nav {
  background-color: rgba(240, 248, 255, 0.308);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.top-nav a {
  color: blanchedalmond;
  text-decoration: none;
}

.top-nav a:hover {
  color: red;
  background-color: beige;
}

.music-main-content {
  text-align: center;
  margin: 1rem;
}

.content-song {
  color: rgb(225, 244, 130);
  padding: 1rem;

  animation: blinking 2s infinite;
}
.content-img-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.content-img-flexbox img {
  width: 20%;
}

/* ANIMATIONS */

@keyframes blinking {
  0% {
    color: rgb(255, 239, 12);
  }
  47% {
    color: rgb(113, 53, 3);
  }
  62% {
    color: red;
  }
  97% {
    color: rgb(255, 255, 255);
  }
  100% {
    color: rgb(241, 255, 139);
  }
}
