* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Silkscreen", cursive;
  background-image: url("/img/background1.jpeg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: rgb(255, 255, 255);
}

header {
  width: 100%;
  background-color: rgba(157, 164, 143, 0.403);
  text-align: center;
  padding: 1rem;
}

section p {
  padding: 0.2rem;
  text-align: center;
  font-size: 0.7rem;
}

.top-nav {
  background-color: rgba(240, 248, 255, 0.308);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.top-nav a {
  color: blanchedalmond;
  text-decoration: none;
}

.top-nav a:hover {
  color: red;
  background-color: beige;
}

.uncle-main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chatbubble {
  border-radius: 10px;
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
  background-color: antiquewhite;
  color: black;
  width: 80%;
}

.chatbubble:hover {
  background-color: red;
  color: white;
}

.chatbubble-button {
  background-color: brown;
  border-radius: 10px;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 60%;
}

.chatbubble-button:hover {
  background-color: yellow;
  color: red;
}
